body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;

}
.prod{
  padding: 10px;
}
.container{
  display: flex;
  flex-direction: row;

}
.pr_list{
  margin: 15px;
}
.one_prod{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}